.pio/*
!.pio/build/
.pio/build/*
!.pio/build/esp32s3zero/
.pio/build/esp32s3zero/*
!.pio/build/esp32s3zero/bootloader.bin
!.pio/build/esp32s3zero/firmware.bin
!.pio/build/esp32s3zero/littlefs.bin
!.pio/build/esp32s3zero/partitions.bin
!.pio/build/esp32s3zero/partitions.bin

.vscode/*
!.vscode/settings.json

include/i2c.h
src/i2c.cpp
